<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/header.ejs %>
</head>
<body>
    <%- include ../partials/style.ejs %>
    <h1>Basic Demo</h1>
    <h2>Empty</h2>

    <md-history id="empty"></md-history>

<%- include ../partials/code-header.ejs %>
&lt;md-history id="empty"&gt;&lt;/md-history&gt;
<%- include ../partials/code-footer.ejs %>

    <h2>Simple List</h2>

    <md-history id="simple-list">
        {
            "title-1": "Title 1",
            "title-2": "Title 2"
        }
    </md-history>

    <%- include ../partials/code-header.ejs %>
&lt;md-history id="simple-list"&gt;
{
    title-1: "Title 1",
    title-2: "Title 2"
}
&lt;/md-history&gt;
    <%- include ../partials/code-footer.ejs %>
</body>
</html>
