<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/header.ejs %>
</head>
<body>
    <%- include ../partials/style.ejs %>
    <h1>Basic Demo</h1>

    <!-- --------------------------------------------------------------------- -->
    <h2>Empty</h2>

    <% componentId = 'empty' %>
    <div id="<%= componentId %>">
        <md-history></md-history>
    </div>
    <%- include ../partials/code-view.ejs %>

    <!-- --------------------------------------------------------------------- -->
    <h2>Simple List</h2>

    <% componentId = 'simple-list' %>
    <div id="<%= componentId %>">
        <md-history>
            {
            "title-1": "Title 1",
            "title-2": "Title 2"
            }
        </md-history>
    </div>
    <%- include ../partials/code-view.ejs %>

</body>
</html>
