<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/header.ejs %>
</head>
<body>
    <%- include ../partials/style.ejs %>
    <h1>Basic Demo</h1>

    <!-- --------------------------------------------------------------------- -->
    <h2>Empty</h2>

    <% componentId = 'empty' %>
    <md-history id="<%= componentId %>"></md-history>
    <%- include ../partials/code-view.ejs %>

    <!-- --------------------------------------------------------------------- -->
    <h2>Simple List</h2>

    <% componentId = 'simple-list' %>
    <md-history id="<%= componentId %>">
        {
        "title-1": "Title 1",
        "title-2": "Title 2"
        }
    </md-history>
    <%- include ../partials/code-view.ejs %>

</body>
</html>
