<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/header.ejs %>
</head>
<body>
    <%- include ../partials/style.ejs %>
    <h1>Attributes</h1>

    <!-- --------------------------------------------------------------------- -->
    <h2 class="demo-code-title"><code>hidden</code> attribute</h2>

    <% componentId = 'hidden' %>
    <div id="<%= componentId %>" class="demo">
        <mkdn-story id="<%= componentId %>" hidden="false">some markdown</mkdn-story>
    </div>
    <%- include ../partials/code-view.ejs %>

    <!-- --------------------------------------------------------------------- -->
    <h2 class="demo-code-title"><code>style</code> attribute</h2>

    <% componentId = 'style' %>
    <div id="<%= componentId %>" class="demo">
        <mkdn-story style="background:salmon;font-family: monospace">
# SALMON MARKDOWN

The _salmon_ jumped over the moon
```javascript
function foo(){
    return 'hello bar';
}
```
        </mkdn-story>
    </div>
    <%- include ../partials/code-view.ejs %>

    <!-- --------------------------------------------------------------------- -->
    <h2 class="demo-code-title"><code>config</code> attribute</h2>

    <% componentId = 'config' %>
    <div id="<%= componentId %>" class="demo">
        <mkdn-story stylesheet="highlight.css">
```javascript
function foo(){
    return 'hello bar';
}
console.log(foo());
```

```java
public class Bar{
  private String foo = 'hello bar';
}
```

Doing the __markdown__ thang!
        </mkdn-story>
    </div>
    <%- include ../partials/code-view.ejs %>

</body>
</html>
