<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/header.ejs %>
</head>
<body>
    <%- include ../partials/style.ejs %>
    <h1>md-view Demo</h1>

    <!-- --------------------------------------------------------------------- -->
    <h2 class="demo-code-title">Empty</h2>

    <% componentId = 'empty' %>
    <div id="<%= componentId %>" class="demo">
        <md-view>
            <md-list></md-list>
            <md-story></md-story>
        </md-view>
    </div>
    <%- include ../partials/code-view.ejs %>

    <!-- --------------------------------------------------------------------- -->
    <h2 class="demo-code-title">Static Backend</h2>

    <% componentId = 'static' %>
    <div id="<%= componentId %>" class="demo">
        <md-view>
            <md-list></md-list>
            <md-story></md-story>
            <md-static-store>
                {
                    "section": {
                        "title": "November",
                        "url": "md/2018/index.json",
                        "member-of": {
                            "title": "2018",
                            "url": "md/2018/index.json"
                        }
                    },
                    "stories": {
                        "my-first-Blog": {
                            "title": "My First Blog",
                            "content": "# Title 1\n\nFirst Blog content."
                        },
                        "my-second-blog": {
                            "title": "My Second Blog: Introduction to MkDn",
                            "hash": "my-second-blog",
                            "short-title": "My 2nd Blog",
                            "content": "# Title 2\n\nThe content"
                        },
                        "https://google.com": {"redirect": "true", "title": "google"}
                    },
                    "default": "my-first-Blog"
                }
            </md-static-store>
        </md-view>
    </div>
    <%- include ../partials/code-view.ejs %>
    <p><strong>Note:</strong> open the console to see events being logged</p>
    <script>
		/**
		 * Event listener for list selection events
		 */
		document
			.querySelectorAll('#static > md-view > md-list')
			.forEach((el) => el.addEventListener('md-list-selected',
			                                     function (e) {
				                                     console.log(`selected event dispatched: ${JSON.stringify(e.detail)}`);
			                                     }
			));

		document
			.querySelectorAll('#static > md-view > md-static-store')
			.forEach((el) => el.addEventListener('md-store-updated',
			                                     function () {
				                                     console.log(`store updated event dispatched`);
			                                     }
			));

    </script>
</body>
</html>
